body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* border: 2px solid blue; */
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-evenly;
}

.card{
    border: 2px solid rgb(169, 169, 169);
    border-radius: 1rem;
    width: 300px;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}
.card:hover{
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.5);
    transform: translate(-2px,-5px);
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.button-container {
    /* border: 1px solid green; */
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content:start;

}

.button-container button {
    padding: 1rem;
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    border-radius:1.5rem;
    /* font-size: 2rem; */
    color: #158f00;
    border: none;
    border: 1px solid #626326;
    background-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    transition: all .2s ease;
    
}
.button-container button:hover{
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.3);
    transform: translateY(-2px);
}

.button-container button:active{
    transform: scale(.999);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.list {
    position: relative;
}
.cart-indicator {
border: 2px solid green;
position:absolute;
right: 0;
top: 18px;
background-color: green;
border-radius: 50%;
padding: .5rem;
}


#name {
    font-size: 2rem;
    font-weight: 900;
    /* border: 1px solid green; */
    text-align: center;
    color: blue;
}

#s-desc {
    margin-top: .5rem;
    color: #904c4c;
    font-size: x-large;
    /* font-family: sans-serif; */
}
#l-desc {
    margin: .5rem 0;
    color: #383737;
    font-size: 14px;
}
#price {
    font-size: 2rem;
    color: #626262;
    font-family: Arial, Helvetica, sans-serif;
}
#price span{
    color: rgb(0, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtotal-container {
    border: 1px solid rgb(170, 170, 170);
    padding: 2rem 3rem ;
    background-color: #fff42d;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 4rem;
    border-radius: 2rem;
    

}
.subtotal-container button{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    /* display: block; */
    font-size: 2rem;
    margin: 0 auto;
    background-color: rgb(197, 197, 197);
    color: rgb(0, 162, 41);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

.subtotal-container button:active{
    transform: scale(.99);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    color: white;
}

#subtotal {
    font-size: 2rem;
    color: #626262;
    font-family: Arial, Helvetica, sans-serif;
    
}
#subtotal span{
    color: rgb(0, 154, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-list {
    border: 2px solid rgb(145, 145, 145);
    border-radius: 2rem;
    padding: 5px;
    background-color: #f6e1e1;
}

.save-later {
    border: 2px solid rgb(77, 77, 77);
    border-radius: 2rem;
    padding: 5px;
    background-color: #c7fff8;
}
